* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B9C85;
    padding: 10px;
}

.main-navitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.main-navitems li {
    list-style: none;
    padding: 20px;
    font-size: 1.5rem;
}
.main-navitems li a:hover{
    color:white;
    transition: all 2s ease-in-out;
    font-size: 1.8rem;
}