header{
    display: flex;
    list-style:none;
    justify-content: space-between;
    align-items: center;
    background-color: #1B9C85;
    font-size: 1.5rem;
}
#nav-title{
    margin-right: auto;
}
header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    color:black;
}
header a {
    text-decoration: none;
    color: #FFE194;
    transition: all 2s ease-in-out;
}
header a:hover{
    color:#E8F6EF;
    font-size: 2rem;
}