* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    color: black;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-family: cursive;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 2em;
    color: white;
}

p {
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.navbar {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log_header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
}

.log_header img {
    width: 50px;
    height: 50px;
    margin: 2px;
    padding: 2px;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav_list li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    position: relative;
}

.nav_list_items a {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    color: black;
}

.nav_list_items a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #1B9C85;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav_list_items a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.hamburger {
    display: none;
    cursor: pointer;
    margin: 20px;
}

.hamburger:focus .bar {
    background-color: #1B9C85;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    background-color: rgb(7, 7, 7);
    transition: background-color 0.3s ease-in-out;
}

.carousel-inner img {
    height: 550px;
}

.categories {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url("images/Shiny\ Overlay.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.categories-title {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
    color: white;
}

.categories .categories-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.categories-list-item {
    margin: 0.5rem;
    width: 7rem;
    border: 0;
    line-height: 2;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    position: relative;
    background-color: #BF0426;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.categories-list-item::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(150, 4, 31, 1) 50%, rgba(191, 4, 38, 1) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.categories-list-item:hover::before {
    width: 1.6em;
    height: 1.6em;
}

.categories-list-item:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
}

.images-collections {
    display: grid;
    row-gap: 2em;
    margin: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.flex-items {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    margin: 0.5rem;
}

.box {
    text-align: center;
    flex: 100px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.footer-part {
    padding: 1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2020%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='url(%23SvgjsLinearGradient2021)'%3e%3c/rect%3e%3cpath d='M1440 0L1398.2 0L1440 302.73z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1398.2 0L1440 302.73L1440 484.66L923.95 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M923.95 0L1440 484.66L1440 553.83L683.09 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M683.09 0L1440 553.83L1440 811.1200000000001L400.94000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1000L248.34 1000L0 625.47z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 625.47L248.34 1000L451.63 1000L0 585.5z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 585.5L451.63 1000L1067.8400000000001 1000L0 438.77z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 438.77L1067.8400000000001 1000L1178.3700000000001 1000L0 148.52999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2020'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='7.64%25' y1='-11%25' x2='92.36%25' y2='111%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2021'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.37'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 138%2c 6%2c 1)' offset='0.62'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.footer {
    text-align: center;
    padding: 0.5rem;
}

.gallery {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2020%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='url(%23SvgjsLinearGradient2021)'%3e%3c/rect%3e%3cpath d='M1440 0L1398.2 0L1440 302.73z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1398.2 0L1440 302.73L1440 484.66L923.95 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M923.95 0L1440 484.66L1440 553.83L683.09 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M683.09 0L1440 553.83L1440 811.1200000000001L400.94000000000005 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1000L248.34 1000L0 625.47z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 625.47L248.34 1000L451.63 1000L0 585.5z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 585.5L451.63 1000L1067.8400000000001 1000L0 438.77z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 438.77L1067.8400000000001 1000L1178.3700000000001 1000L0 148.52999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2020'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='7.64%25' y1='-11%25' x2='92.36%25' y2='111%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2021'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.37'%3e%3c/stop%3e%3cstop stop-color='rgba(167%2c 138%2c 6%2c 1)' offset='0.62'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.curated-grid {
    display: grid;
    row-gap: 2em;
    overflow: hidden;
    background: linear-gradient(135deg, rgb(2, 90, 252) 0%, rgba(33, 33, 33, 1) 50%, rgba(150, 4, 31, 1) 50%, rgba(191, 4, 38, 1) 60%);
}

#curated-title {
    font-size: 3rem;
    margin: 2rem;
    padding: auto;
    color: white;
}

.curated {
    display: flex;
    flex-wrap: wrap;
    align-items:normal;
    margin: 0.5rem;
}

.curated-img {
    margin: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .nav_list {
        position: fixed;
        left: -100%;
        top: 17%;
        flex-direction: column;
        width: 100%;
        border-radius: 50px;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }

    .nav_list_items a {
        text-decoration: none;
    }

    .nav_list.active {
        left: 0;
        backdrop-filter: blur(50px);
    }

    .nav_list_items {
        margin: 2rem 0;
    }

    .nav_list_items:after {
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 20px;
    }

    .images-collections {
        display: grid;
        row-gap: 1em;
        margin: 0.3rem;
        border-radius: 10px;
        overflow: hidden;
    }

    .flex-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0.3rem;
    }

    .box {
        text-align: center;
        /* flex: 100px; */
        margin: 0.3rem;
        padding: 0.3rem;
    }
    .curated-grid {
        row-gap: 1.5em;
        /* overflow: hidden; */
        background: linear-gradient(135deg, rgb(2, 90, 252) 0%, rgba(33, 33, 33, 1) 50%, rgba(150, 4, 31, 1) 50%, rgba(191, 4, 38, 1) 60%);
    }
    
    #curated-title {
        font-size: 3rem;
        margin: 2rem;
        padding: auto;
        color: white;
    }
    
    .curated {
        display: flex;
        flex-flow: row wrap;
        justify-self: center;
        margin: 0.3rem;
    }
    
    .curated-img {
        max-width: 50%;
        margin: 0.2rem;
    }
}