* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7D060;
}

.log_header img {
    width: 100px;
    height: 100px;
    border-radius: 80px;
    margin: 5px;
    padding: 3px;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.nav_list li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    position: relative;
    /* added */
}

.nav_list_items a {
    text-decoration: none;
    color: black;
}

.nav_list_items a:hover {
    font-size: 30px;
    color: white;
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 5px 0px 0px #BB8EAC;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #F3E99F;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.dropdown_list {
    display: block;
}

.nav_list_items:hover .dropdown {
    display: block;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px auto;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .log_header img {
        width: 100px;
        height: 100px;
        border-radius: 80px;
        margin: 20px;
        padding: 3px;
    }

    .nav_list {
        position: fixed;
        left: -100%;
        top: 18%;
        flex-direction: column;
        background-color: #F3E99F;
        width: 100%;
        border-radius: 50px;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }

    .nav_list.active {
        left: 0;
    }

    .nav_list_items {
        margin: 2rem 0;
    }

    .nav_list_items:after {
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
    }

    .dropdown {
        display: none;
        position: static;
        width: 100%;
        padding: 0;
        box-shadow: none;
        margin-top: 10px;
        border-radius: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 20px;
    }
}